div {
    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 58px;
    border: 20px groove tomato;
    background-image: url(../../007_tag-attributes/02_image-element/puppy\ copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}